*{margin:0;padding:0;border:0}html,body,form,fieldset{margin:0;padding:0}body.contentpane{color:#000;font-size:12pt;line-height:1.3em;margin:1em
1em;width:auto}.system-unpublished,tr.system-unpublished{background:none;border:none}a{color:#386073;text-decoration:none;outline:none}a:hover,a:active,a:focus{text-decoration:none}h1, h2, h3, h4, h5,
.contentheading, .componentheading, .blog_more strong,.nftitle{font-weight:bold;line-height:1.2}small,.small,.smalldark,.createdby,.published,.modifydate,.img_caption,.hits,.category-name,span.site-slogan,a.readon,#headtools,#pathway,#botsl21,#botsl22,#footer{font-size:92%}small,.small,.img_caption{color:#999}h1{font-size:200%}h2{font-size:150%}h3{font-size:125%}h4{font-size:120%}h5,h6{font-size:100%}h1,h2,h3,h4,h5,h6,p,blockquote,ul,ol{margin:15px
0;padding:0}ul{list-style:none}ul
li{background:url(images/bullet.gif) no-repeat scroll 0 7px transparent;line-height:160%;padding-left:20px;line-height:160%}ol
li{line-height:180%;margin-left:35px}th{font-weight:bold;padding:5px;text-align:left}fieldset{border:none;padding:10px
0}fieldset
a{font-weight:normal}fieldset.userdata,fieldset.input{padding:0}hr{border-bottom:0;border-left:0;border-right:0;border-top:1px solid #DDD;height:1px}td,div{font-size:100%}a
img{border:none;margin:0}form{margin:0;padding:0}form
label{cursor:pointer}input:focus::-moz-focus-inner,input[type="submit"]::-moz-focus-inner,input[type="checkbox"]::-moz-focus-inner,input[type="button"]::-moz-focus-inner,button::-moz-focus-inner,.button::-moz-focus-inner{border:0px}textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input{padding:4px
5px;background-color:#fff;border:1px
solid #ccc;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-webkit-transition:border linear 0.2s, box-shadow linear 0.2s;-moz-transition:border linear 0.2s, box-shadow linear 0.2s;-o-transition:border linear 0.2s, box-shadow linear 0.2s;transition:border linear 0.2s, box-shadow linear 0.2s}textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="time"]:focus,input[type="week"]:focus,input[type="number"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="color"]:focus,.uneditable-input:focus{border-color:rgba(82, 168, 236, 0.8);outline:0;outline:thin dotted \9;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82,168,236,0.6)}input[type="radio"],input[type="checkbox"]{margin:4px
0 0;margin-top:1px \9;*margin-top:0;line-height:normal;cursor:pointer;border:none}.inputbox{background:#FFF;border:none;padding:0
0;margin:0;border:1px
solid #CECECE}option{border:none}.button{background:#FFF;border:1px
solid #CECECE;font-weight:normal;padding:2px
5px}.button:hover,.button:active,.button:focus{background-color:#FFF;text-decoration:none;cursor:pointer}.article_separator{clear:both;display:block;height:1px}.article-content
img{padding:3px;border:1px
solid #DDD}.article-tools .article-meta{float:left}.article-tools
.buttonheading{float:right}.pagenav{padding:0
5px;font-weight:bold}.column_separator{padding:0
0 0 10px}span.open{background:url(images/so-q.gif) no-repeat  left top;padding:2px
0 2px 10px}span.close{background:url(images/sc-q.gif) no-repeat right bottom;padding:2px
10px 2px 0}.sectiontableheader{background:#333;border-right:1px solid #CCC;padding:4px}tr.sectiontableentry0 td,
tr.sectiontableentry1 td,
tr.sectiontableentry2
td{padding:4px}tr.sectiontableentry2
td{}table.contentpane{border:none;width:100%}table.contentpaneopen{border:none;border-collapse:collapse;border-spacing:0}.contentpaneopen{overflow:hidden}table.contenttoc{font-size:92%;margin:0
0 10px 10px;padding:0;width:35%}table.contenttoc
a{text-decoration:none}table.contenttoc
td{background:url(images/bullet.gif) no-repeat 10px 7px;padding:1px
5px 1px 15px}table.contenttoc
th{border-bottom:1px solid #E5E5E5;padding:0
0 3px;text-indent:5px}table.poll{border-collapse:collapse;padding:0;width:100%}table.pollstableborder{border:none;padding:0;text-align:left;width:100%}table.pollstableborder
img{vertical-align:baseline}table.pollstableborder
td{background:none;border-collapse:collapse;border-spacing:0;padding:4px
!important}table.pollstableborder tr.sectiontableentry1
td{background:#E5E5E5}table.searchintro{padding:10px
0;width:100%}table.searchintro
td{padding:5px!important}.blog_more
strong{display:block;font-size:125%;margin:0
0 5px;font-weight:bold}.article_column{float:left}.leading_separator{display:block;width:100%}.row_separator{overflow:hidden;display:block;width:100%;border-bottom:1px solid #DDD}.blog_more
ul{margin:0;padding:0}.article_column_pad{}.blog_more ul
li{margin:0;padding:0
0 0 15px}.category{font-weight:bold}h1.componentheading,.componentheading{border-bottom:1px solid #DDD;margin:0
0 10px;padding:0
0 5px}.componentheading{font-size:200%}h2.contentheading,.contentheading{font-size:125%;font-weight:bold;margin:0
0 5px;padding:0}.blog h2.contentheading, .blog
.contentheading{font-size:150%}a.contentpagetitle{}a.contentpagetitle:hover,a.contentpagetitle:active,a.contentpagetitle:focus{color:#D33615}.contentdescription{padding-bottom:30px}table.contentpane form,
table.contentpane
table{width:100%}table.contentpaneopen td, table.contentpane
td{padding:5px
0}form#josForm table.contentpaneopen td, form#josForm table.contentpane
td{padding:0
0;height:30px}table.contentpaneopen,table.contentpane,table.blog{width:100%}.moduletable{padding:0}div.blog_more{padding-top:15px}ul.pagination{margin:0;padding:40px
0 10px;text-align:center}p.counter{text-align:center}.pagenavbar{background:url(images/icon-pages.gif) no-repeat center left;font-weight:bold;padding-left:14px}.pagenavcounter{background:url(images/icon-pages.gif) no-repeat 0 11px;font-weight:bold;padding:8px
14px 0 14px}.sectiontableheader{color:#FFF;font-weight:bold;padding:8px
5px}.sectiontableheader
a{color:#FFF}tr.sectiontableentry1
td{padding:8px
5px}tr.sectiontableentry2
td{padding:8px
5px}tr.sectiontableentry1:hover td,
tr.sectiontableentry2:hover
td{}.smalldark{text-align:left}div.syndicate
div{text-align:center}.pollstableborder tr.sectiontableentry1 td,
.pollstableborder tr.sectiontableentry2
td{background:none}.createdate{color:#999}.modifydate{color:#999;display:block;width:100%}.info{overflow:hidden}.buttonheading{float:right;overflow:hidden}.articleinfo,.article-meta{float:left;overflow:hidden;width:60%}.buttonheading
img{border:0;float:right;margin:0px
5px 0 0}.article-toolswrap{overflow:hidden}