.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus{outline:none}.slides,.flex-control-nav,.flex-direction-nav{margin:0;padding:0;list-style:none}.flexslider{margin:0;padding:0}.flexslider .slides>li{display:none;-webkit-backface-visibility:hidden;padding:0
!important;margin:0
!important}.flexslider .slides
img{width:100%;display:block}.flex-pauseplay
span{text-transform:capitalize}.slides:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}html[xmlns] .slides{display:block}* html
.slides{height:1%}.no-js .slides>li:first-child{display:block}.flexslider{position:relative;zoom:1}.flex-viewport{max-height:2000px;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;transition:all 1s ease}.loading .flex-viewport{max-height:300px}.flexslider
.slides{zoom:1}.carousel
li{margin-right:5px}.flex-direction-nav{*height:0}.flex-direction-nav
a{z-index:2;width:30px;height:52px;margin: -20px 0 0;display:block;background:url(../images/nav-btn.png) no-repeat left center;position:absolute;top:50%;cursor:pointer;text-indent: -9999px;-webkit-transition:all .3s ease}.flex-direction-nav .flex-next{background-position:100% 0;right: -10px}.flex-direction-nav .flex-prev{left: -10px}.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover{opacity:1}.flex-direction-nav .flex-disabled{opacity: .3!important;filter:alpha(opacity=30);cursor:default}.flex-control-nav{width:100%;position:absolute;bottom: -40px;text-align:center}.flex-control-nav
li{margin:0
6px;display:inline-block;zoom:1;*display:inline}.flex-control-paging li
a{width:11px;height:11px;display:block;background:#666;background:rgba(0,0,0,0.5);cursor:pointer;text-indent: -9999px;-webkit-border-radius:20px;-moz-border-radius:20px;-o-border-radius:20px;border-radius:20px;box-shadow:inset 0 0 3px rgba(0,0,0,0.3)}.flex-control-paging li a:hover{background:#333;background:rgba(0,0,0,0.7)}.flex-control-paging li a.flex-active{background:#000;background:rgba(0,0,0,0.9);cursor:default}.flex-control-thumbs{margin:5px
0 0;position:static;overflow:hidden}.flex-control-thumbs
li{width:25%;float:left;margin:0}.flex-control-thumbs
img{width:100%;display:block;opacity: .7;cursor:pointer}.flex-control-thumbs img:hover{opacity:1}.flex-control-thumbs .flex-active{opacity:1;cursor:default}@media only screen and (max-width: 520px){.sl_item_info .addtocart_button,
.sl_item_info .title_desc
span.desc{display:none}}@media only screen and (max-width: 1235px){.sl_item_info .addtocart_button .addtocart-btn{display:none}}.wrap_slide{padding-bottom:0;position:relative}.flex-viewport{overflow:visible !important}ul.slides
li{position:relative}.border_img{border-width:0px 5px;border-style:solid;border-color:#F8F8F8;position:absolute;right:0;left:0;top:0;bottom:0}ul.slides .flex-active-slide
.border_img{background:none}ul.slides
.border_img{}.flexslider{position:static}.flex-control-nav{bottom:0px;left:0;position:absolute;right:0;text-align:center;display:none}#wrapslider{padding:10px;border-bottom:1px solid #A7A9AC;overflow:hidden;position:relative;background:#f8f8f8}#wrapslider
.pad{position:absolute;width:10px;top:0;bottom:0;left:0;background:#F8F8F8;z-index:1}#wrapslider
.pad.right{left:auto;right:0}.sl_item_info{position:absolute;right:0;left:0;bottom:0;background:url(../images/bg-transparent70.png);padding:10px;margin:0
5px;color:#a7a9ac;opacity:0}li.flex-active-slide
.sl_item_info{opacity:1}.sl_item_info_in{position:relative}.sl_item_info_in .sj-bt.submitbtn{float:right;padding:10px
0}.sl_item_info_in .title_desc
a.pro_title{display:block;font-size:200%;color:#fff;text-decoration:none;padding-bottom:5px}.sl_item_info_in
.salesPrice{font-size:250%;margin:0
20px;color:#ff0072}.sl_item_info_in .sj-bt.submitbtn>*{vertical-align:middle}.sl_item_info_in span.addtocart-btn{background:url(../images/bg-addcart-sl.png) repeat-x center;overflow:hidden;border-radius:30px;-moz-border-radius:30px;-webkit-border-radius:30px}.sl_item_info_in a.addtocart-btn{border:none;color:#FFF;cursor:pointer;display:block;font-size:150%;height:30px;line-height:30px;margin:0;text-decoration:none;padding:0
15px 0 45px;background:url(../images/ico-cart2.png) no-repeat left center}#wrapslider
.opa{background:url(../images/bg-transparent70.png);bottom:0;position:absolute;top:0;width:12.5%;z-index:2;padding:0
2px 0 1px;margin:10px
0}#wrapslider
.opa.left{left:0}#wrapslider
.opa.right{right:0}li.flex-active-slide
.sl_item_info{animation:myfirst 1s;-moz-animation:myfirst 1s;-webkit-animation:myfirst 1s;-o-animation:myfirst 1s}@keyframes
myfirst{0%{opacity:0}100%{opacity:1}}@-moz-keyframes
myfirst{0%{opacity:0}100%{opacity:1}}@-webkit-keyframes
myfirst{0%{opacity:0}100%{opacity:1}}@-o-keyframes
myfirst{0%{opacity:0}100%{opacity:1}}.rtl .component-inner #wrapslider,
.rtl .component-inner #wrapslider
*{direction:ltr}.rtl .component-inner #wrapslider .title_desc,
.rtl .component-inner #wrapslider .sj-bt.submitbtn{direction:rtl;text-align:right}.rtl .component-inner #wrapslider .sj-bt.submitbtn{float:left}ul.slides{z-index:0}